APP_SECRET=b6ef032e8b8354f7271fca1090413948
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000
PORT = 3333

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = db
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = docker
TYPEORM_DATABASE = node_library
TYPEORM_PORT = 5432
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = ./src/modules/**/infra/typeorm/entities/*.ts
TYPEORM_MIGRATIONS = ./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = ./src/shared/infra/typeorm/migrations
TYPEORM_MIGRATIONS_RUN = ./src/shared/infra/typeorm/migrations
